{% assign skills = site.data.data.skills %} {% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">
    <!-- {% for skill in skills.toolset %}
    <div class="item">
      <h3 class="level-title">{{ skill.name }}</h3>
      {% assign skill_level = 'width: ' | append: skill.level %}
      <div class="level-bar">
        <div class="level-bar-inner" style="{{skill_level}}"></div>
      </div>
    </div>
    {% endfor %} -->
    <img src="https://www.vectorlogo.zone/logos/java/java-icon.svg" alt="java"           width="75" height="75"/>  
    <img src="https://www.vectorlogo.zone/logos/python/python-icon.svg" alt="python"     width="65" height="65"/>
    <img src="https://www.vectorlogo.zone/logos/reactjs/reactjs-icon.svg" alt="react"  width="55" height="65"/>
    <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="GIT"      width="65" height="65"/> 
    <img src="https://www.vectorlogo.zone/logos/mongodb/mongodb-icon.svg" alt="mongodb"  width="55" height="65"/>
    <img src="https://www.vectorlogo.zone/logos/gradle/gradle-icon.svg" alt="gradle"    width="55" height="65"/>
    <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="SQLite" width="75" height="65"/>
    <img src="https://www.vectorlogo.zone/logos/postgresql/postgresql-icon.svg" alt="postgresql" width="75" height="65"/>
    <img src="https://www.vectorlogo.zone/logos/golang/golang-icon.svg" alt="golang" width="75" height="65"/>
    <img src="https://www.vectorlogo.zone/logos/nginx/nginx-icon.svg" alt="nginx" width="75" height="65"/>
    <img src="https://www.vectorlogo.zone/logos/docker/docker-official.svg" alt="docker" width="75" height="65"/>
    <img src="https://www.vectorlogo.zone/logos/microsoft_azure/microsoft_azure-icon.svg" alt="azure" width="75" height="65"/>
  </div>
</section>
<!--//skills-section-->
{% endif %}
